# Members of group 65
Dorthea Munch-Ellingsen Selnes <dmselnes@stud.ntnu.no>
Pia Asbjørnsen <piaas@stud.ntnu.no> <pia.asbjornsen@icloud.com> <piaasbjornsen@dhcp-10-22-33-79.wlan.ntnu.no> <piaasbjornsen@dhcp-10-22-2-8.wlan.ntnu.no>
Ida-Sofie Pettersen <idasofib@stud.ntnu.no>
Yngvil Kolltveit Skomedal <yngvilks@stud.ntnu.no>
